<h3>Редактирование <%= @sauce.name %></h3><br>
<div class="modal-body">
  <%= form_for @sauce, :url => sauce_path(@sauce) do |f| %>

    <table class="table table-striped">
      <tr>
        <td>
          <%= f.label :Наименование %><br>
        </td>
        <td>
          <%= f.text_field :name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Назад', sauces_path %> |
          <%= f.submit 'Сохранить', class: "cat cat-active pan-pizza"%>
        </td>
      </tr>
    </table>
  <% end %>
</div>
<div class="modal-footer">

</div>