<%= javascript_include_tag "scripts.js" %>
<h3>Новая классификация</h3>
<div class="modal-body">
  <%= form_for @classification, :url => classification_path(@classification) do |f| %>

    <table class="table table-striped">
      <tr>
        <td>
          <%= f.label :Наименование %><br>
        </td>
        <td>
          <%= f.text_field :name %>
        </td>
        <td>
          <%= f.submit 'Сохранить', class: "cat cat-active pan-pizza"%>
        </td>
      </tr>
    </table>
  <% end %>
</div>
<div class="modal-footer">
  <%= link_to 'Назад', classifications_path %>
</div>